.hero {
	height: 600px;
	position: relative;
	overflow: hidden;
	.hero__bg {
		margin: 0 auto;
		height: 600px;
		overflow: hidden;
		position: relative;
		padding: 0 0 60% 0;
		img {
			width: 100%;
			height: 100%;
			object-fit: fill;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.hero__title {
		@include stance("y");
		text-align: center;
		width: 100%;
		> img {
			opacity: 0.05;
		}
		.section-title {
			display: inline-block;
		}
		.hero__user-block {
			@include stance();
			.user__photo-img {
				border-radius: 50%;
				width: 140px;
				height: 140px;
				.user__photo-img img {
					max-width: 100%;
					max-height: 100%;
				}
			}
			.user__name {
				font-size: 35px;
				line-height: 41px;
				font-weight: 500;
				color: #ffffff;
			}
			.user__desc {
				font-size: 16px;
				line-height: 24px;
				color: #ffffff;
			}
		}
	}
	.down-arrow {
		@include stance("x");
		bottom: 40px;
	}
}

.about {
	@extend %clearfix;
	.about__left,
	.about__right {
		float: left;
		width: 50%;
		position: relative;
		min-height: 850px;
		.triangle {
			height: 100px;
			width: 100%;
			&_fill {
				&_white {
					fill: $white;
				}
				&_beige {
					fill: $beige;
				}
			}
		}
		.triangle_position {
			position: absolute;
			bottom: 100%;
		}
	}
	.about__left {
		background: $white;
		.title {
			font-size: 63px;
			line-height: 66px;
			text-transform: uppercase;
			color: $main-color;
			font-weight: 500;
			text-align: center;
			padding: 45px 0;
			position: relative;
			display: block;
			background-size: contain;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			&::after,
			&::before {
				content: "";
				@include stance("y");
				display: block;
				background: rgba($main-color, 0.4);
				width: 25px;
				height: 5px;
			}
			&::after {
				right: 20%;
			}
			&::before {
				left: 20%;
			}
		}
		.about__section-title {
			font-weight: bold;
		}
		.user-about {
			display: flex;
			justify-content: center;
			flex-direction: column;
			text-align: center;
			.user-about__picture {
				width: 390px;
				height: 390px;
				margin: 0 auto;
				overflow: hidden;
				& img {
					max-width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 20px;
				}
			}
			.subtitle {
				color: $main-color;
				text-transform: uppercase;
				font-size: 35px;
				line-height: 41px;
				padding: 40px 0;
				position: relative;
				&::after {
					content: "";
					width: 100px;
					height: 3px;
					background-color: rgba($main-color, 0.6);
					display: block;
					@include stance("x");
					top: 70%;
				}
			}
			.user-about__text {
				line-height: 24px;
				width: 415px;
				margin: 0 auto;
				p {
					padding: 10px 0;
				}
			}
		}
	}
	.about__right {
		background: $beige;
		.about-data {
			padding: 0 0 0 40px;
			.about-user-info__text {
				font-size: 16px;
				line-height: 24px;
				padding: 0 0 20px 0;
			}
			.subtitle {
				color: $main-color;
				text-transform: uppercase;
				font-size: 35px;
				line-height: 41px;
				padding: 40px 0;
				position: relative;
				width: 350px;
				margin: 0 auto;
				text-align: center;
				&::after {
					content: "";
					width: 90px;
					height: 3px;
					background-color: rgba($main-color, 0.6);
					display: block;
					@include stance("x");
					top: 80%;
				}
			}
			.skills {
				display: flex;
				flex-direction: column;
				font-size: 28px;
				line-height: 32px;
				font-weight: 500;
				color: $main-color;
				.skills__item {
					padding: 10px 0;
					.skill-section__list {
						display: flex;
						.skill {
							position: relative;
							padding: 10px 40px 0 0;
							overflow: hidden;
							.skill__circle {
								width: 130px;
								height: 130px;
								display: block;
								fill: transparent;
								stroke-width: 15;
								.skills__circle-under {
									stroke: #dfdcd5;
								}
								.skills__circle-above {
									stroke: $blue;
								}
							}
							.skill__name {
								text-align: center;
								color: $blue;
								font-size: 16px;
								position: absolute;
								top: 50%;
								left: 40%;
								transform: translate(-53%, -40%);
							}
						}
					}
				}
			}
		}
	}
}

#map {
	width: 100%;
	height: 930px;
}

.footer {
	display: flex;
	flex-direction: column;
	.footer__row_top {
		display: flex;
		flex-direction: row;
		height: 150px;
		background-color: $main-color;
		color: #ffffff;
		a {
			color: #ffffff;
		}
		.footer__row-common {
			flex: 0 1 33.333%;
		}
		.footer__left {
			padding: 25px 30px;
			font-size: 16px;
			line-height: 24px;
		}
		.footer__center {
			// display: flex;
			flex-direction: column;
			padding: 25px 30px;
			.nav-menu {
				display: flex;
				flex-direction: row;
				font-size: 16px;
				line-height: 23px;
				font-weight: 700;
				.nav-menu__item {
					padding: 0 0 0 40px;
				}
				:first-child {
					padding: 0;
				}
			}
			.socials_footer {
				display: flex;
				flex-direction: row;
				margin: 0 0 0 -15px;
				.socials__item {
					.socials__icon {
						width: 30px;
						height: 30px;
						// opacity: 0.5;
					}
					:hover svg {
						fill: red;
						cursor: pointer;
					}
				}
			}
		}
		.footer__right {
			padding: 25px 30px;
			font-size: 16px;
			line-height: 24px;
		}
	}
	.footer__about-user-name {
		text-align: center;
		height: 36px;
		line-height: 40px;
		font-size: 16px;
		color: #ffffff;
		background-color: $blue;
	}
}
